
.dashboard-container {
  padding: 20px;
  margin-top: 150px;
}
.summary-bar {
  display: flex;
  justify-content: space-around;
  gap: 20px; 
  margin-bottom: 30px;
}


.summary-item {
  flex: 1; 
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 2px solid #e0e0e0; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.summary-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}




.summary-item .label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}


.summary-item .value {
  font-size: 1.4rem;
  font-weight: bold;
  color: #025d5d;
}


.birthday-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.birthday-popup h2 {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
    color: black;

}

.birthday-popup p {
  margin: 0 0 20px 0;
  font-size: 1.2rem;
  color: black;
}

.birthday-popup button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
